include LICENSE
include README.md

# Include all .pyx files
recursive-include svv/utils/spatial *.pyx
recursive-include svv/tree/utils *.pyx
recursive-include svv/domain/routines *.pyx

# Include all remesher executables
include svv/utils/remeshing/Linux/mmg2d_O3
include svv/utils/remeshing/Linux/mmg3d_O3
include svv/utils/remeshing/Linux/mmgs_O3

# include svv/utils/remeshing/Mac/mmg2d_O3
# include svv/utils/remeshing/Mac/mmg3d_O3
# include svv/utils/remeshing/Mac/mmgs_O3
recursive-include svv/bin *

include svv/utils/remeshing/Windows/mmg2d_O3.exe
include svv/utils/remeshing/Windows/mmg3d_O3.exe
include svv/utils/remeshing/Windows/mmgs_O3.exe
 
# Exclude any compiled extension artifacts from source distribution
global-exclude *.so *.pyd *.dylib *.dll
