name: Build & Publish to TestPyPI

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Upload to PyPi-Test?"
        required: true
        default: "true"
        type: choice
        options:
          - "true"
          - "false"

jobs:
  build_wheels:
    # We'll build on a matrix of OSes and Python versions.
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest] #[ubuntu-latest, windows-latest]
    env:
      CIBW_BUILD: "cp39-*" #"cp39-* cp310-* cp311-* cp312-*"
      CIBW_ENVIRONMENT: "PIP_NO_CACHE_DIR=1"
      CIBW_BUILD_VERBOSITY: 3

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          pip install --upgrade pip && pip install cibuildwheel twine

      - name: Upgrade pip, setuptools, wheel
        run: python -m pip install --upgrade setuptools wheel

      - name: Build wheels
        run: cibuildwheel --output-dir dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}
          path: dist

  build_sdist:
    needs: [build_wheels]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install build dependencies
        run: |
          pip install --upgrade pip && pip install build

      - name: Build sdist
        run: python -m build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz
          
  upload_testpypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:    
      - uses: actions/download-artifact@v4
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Install build dependencies
        run: |
          pip install --upgrade pip && pip install twine
          
      - name: Upload to TestPyPI
        run: twine upload --repository testpypi dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_PASSWORD }}
